@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    --primary: #002744;
    --primary-text: #003150;
    --primary-light-text: #647e8f;
    --white: rgb(253, 251, 251);
}

.bg-dark {
    background-color: var(--primary) !important;
}

.primary-light {
    background-color: var(--primary-light-text);
}

.primary-text {
    color: var(--primary-text);
}

.primary-light-text {
    color: var(--primary-light-text);
}

.white-text {
    color: var(--white);
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

#hero {
    background-image: url("../img/watches.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero .layer {
    background-color: rgb(66, 66, 155, 0.3);
    height: inherit; /* Inherits from hero section (100vh) */
}

#hero h1 {
    font-size: 2rem;
}

.height-fix {
    padding-top: 74px;
}

#map {
    height: 400px;
}

#contactInfo {
    border: 1px solid lightblue;
}

#contactInfo ul {
    list-style-type: none;
}

.image-cards > div {
    max-width: 18rem;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-text {
    font-size: 1.5rem;
}

#categories a {
    font-size: 0.8rem;
    color: #647e8f;
}

#categories .active {
    font-weight: bolder;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: #00467c;
    border-color: #00467c;
}

.btn-primary:focus {
    background-color: var(--primary);
    border-color: var(--primary);
}

@media screen and (min-width: 768px) {
    .hero-text {
        width: 75%;
    }
    .about-info {
        flex-direction: row;
    }
    .about-info > div {
        width: 50%;
    }
    #categories a {
        font-size: 1rem;
    }
    #custom-footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media screen and (min-width: 2300px) {
    .hero-text {
        width: 50%;
    }
}