@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    --primary: #002744;
    --primary-text: #003150;
    --primary-light-text: #647e8f;
    --white: rgb(253, 251, 251);
}

.bg-dark {
    background-color: var(--primary) !important;
}

.primary-light {
    background-color: var(--primary-light-text);
}

.primary-text {
    color: var(--primary-text);
}

.primary-light-text {
    color: var(--primary-light-text);
}

.white-text {
    color: var(--white);
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

#hero {
    background-image: url("../img/watches.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero h1 {
    font-size: 2rem;
}

.height-fix {
    padding-top: 74px;
}

#map {
    height: 400px;
}

#contactInfo {
    border: 1px solid lightblue;
    /* box-shadow: 2px 2px 5px grey; */
}

#contactInfo ul {
    list-style-type: none;
}